<!DOCTYPE html>
<html>
    <head>
        <title>AngularJS demo</title>
            <script src="jquery-2.1.1.min.js" type="text/javascript" ></script>
            <script src="angular.js" type="text/javascript"></script>
        <script>
           var mainApp = angular.module('demoApp', []);
        mainApp.controller('firstController', function($scope) {
            var user = {};
            user.name = "Karthik";
            user.list = [ { name: "asdf", email: "asdf@gmail.com" }, 
                         { name: "ufeh", email: "ufeh@gmail.com" }, 
                         { name: "cbj wsdi", email: "cbjwsdj@gmail.com" }, 
                         { name: "ewid", email: "ewid@gmail.com" }, 
                         { name: "scksn", email: "scks@gmail.com" }, 
                         { name: "SDJS", email: "AKDD@GMAIL.COM" }, 
                         { name: "skns", email: "skns@gmail.com" }, 
                         { name: "knkw", email: "knkw@gmail.com" }, 
                         { name: "qeqe", email: "qnqe@gmail.com" } ];
            $scope.user = user;
            $scope.isValidName = function() {
                return user.name === "";
            };
            
            $scope.selectedElement = function(index) {
                alert(index);
            };
        });
        </script>
    </head>
    <body ng-app="demoApp">
        <div ng-controller="firstController">
            <div>
                <input type="text" ng-model="user.name" />
                <label ng-show="user.name == ''">Enter a valid name</label>
            </div>
            <div ng-repeat="u in user.list | filter: user.name">
                <label>{{ u.name.toUpperCase() }}</label>
                <label>{{ u.email }}</label>
                <button ng-click="selectedElement(u.name)">Select</button>
            </div>
        </div>
    </body>
</html>